<?xml version="1.0" ?>
<settings version="1">
    <section id="script.plex">

        <!-- General -->
        <category id="general" label="General">
            <group id="1" label="">
                <setting id="debug" type="boolean" label="Enable debug logging">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="debug_requests" type="boolean" label="Enable requests debug logging">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="kiosk.always" type="boolean" label="Always show 'All' item in library" help="Controls whether the 'All' item is shown in movie/TV show libraries">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subtitle_use_extended_title" type="boolean" label="Use extended subtitle titles" help="Show language name and format (e.g. 'English (SRT)')">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="poster_resolution_scale_perc" type="integer" label="Poster resolution scale" help="Scale poster resolution to save memory/increase performance">
                    <level>0</level>
                    <default>100</default>
                    <constraints>
                        <minimum>25</minimum>
                        <step>25</step>
                        <maximum>750</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="background_resolution_scale_perc" type="integer" label="Background resolution scale" help="Scale background resolution to save memory/increase performance">
                    <level>0</level>
                    <default>100</default>
                    <constraints>
                        <minimum>25</minimum>
                        <step>25</step>
                        <maximum>750</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="retrieve_all_media_up_front" type="boolean" label="Retrieve all items from library" help="Retrieve all items from a library at once. Faster, but might OOM on weak devices with large libraries">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_chunk_size" type="string" label="Library chunk size" help="How many items to retrieve from a library at once">
                    <level>0</level>
                    <default>240</default>
                    <constraints>
                        <options>
                            <option>60</option>
                            <option>120</option>
                            <option>180</option>
                            <option>240</option>
                            <option>360</option>
                            <option>540</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable" setting="retrieve_all_media_up_front">false</dependency>
                    </dependencies>
                    <control type="list" format="string"/>
                </setting>
                <setting id="playlist_max_size" type="integer" label="Maximum playlist size" help="Maximum amount of items to retrieve for a single playlist">
                    <level>0</level>
                    <default>500</default>
                    <constraints>
                        <minimum>100</minimum>
                        <step>50</step>
                        <maximum>10000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="hubs_round_robin" type="boolean" label="Hubs: round-robin">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="hubs_rr_max" type="integer" label="Hubs: round-robin max items" help="Total amount of items to retrieve when round-robin is active">
                    <level>0</level>
                    <default>250</default>
                    <constraints>
                        <minimum>50</minimum>
                        <step>50</step>
                        <maximum>5000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="hubs_round_robin">true</dependency>
                    </dependencies>
                </setting>
                <setting id="cache_home_users" type="boolean" label="Cache home users">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <!-- Player -->
        <category id="player" label="Player">
            <group id="2" label="">
                <setting id="osd_hide_delay" type="number" label="Plex OSD hide delay" help="How long the Plex OSD stays open without user interaction">
                    <level>0</level>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>15</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="auto_seek">true</dependency>
                    </dependencies>
                </setting>
                <setting id="auto_seek" type="boolean" label="Enable chapter seek dialog" help="Show a dialog for seeking through chapters.">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="auto_seek_delay" parent="auto_seek" type="number" label="Delay chapter seeking" help="How long to wait before showing the chapter seek dialog.">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>0.1</step>
                        <maximum>5</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="auto_seek">true</dependency>
                    </dependencies>
                </setting>
                <setting id="kodi_skip_stepping" type="boolean" label="Use Kodi skip steps" help="Use the Kodi skip steps instead of the default +/- 30 seconds.">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dynamic_timeline_seek" type="boolean" label="Enable dynamic timeline seeking (experimental)" help="Allow seeking outside the current VFS buffer. Might break on some systems.">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="coreelec_resume_seek_wait" type="integer" label="CoreELEC resume seek wait time (ms)" help="How long to wait after a relative seek on resume. Increase this if resume doesn't work.">
                    <level>0</level>
                    <default>850</default>
                    <constraints>
                        <minimum>100</minimum>
                        <step>50</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="show_media_ends_info" type="boolean" label="Show 'Media Ends' info" help="Show an info label in the seek dialog that shows when the next video will start.">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_media_ends_label" type="boolean" label="Show 'Media Ends' text" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable" setting="show_media_ends_info">true</dependency>
                    </dependencies>
                </setting>
                <setting id="player_show_buffer" type="boolean" label="Show player buffer status" help="Show a dialog while the player is buffering">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="buffer_wait_max" type="integer" label="Maximum buffer wait time" help="Maximum time to wait for the player to buffer media (0=disabled).">
                    <level>0</level>
                    <default>120</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="buffer_insufficient_wait" type="integer" label="Insufficient buffer wait time" help="Time to wait when the buffer is insufficient (0=disabled).">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="consecutive_video_pb_wait" type="number" label="Player: Wait before consecutive playback" help="Wait this many seconds before playing back the next video in a playlist.">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>0.1</step>
                        <maximum>5</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <!-- START OF ZIDOO MOD SETTINGS -->
                <setting id="player_stop_on_idle" type="integer" label="Stop playback after idle (seconds)" help="Automatically stop playback after the video has been paused for a specified time. (0=disabled)">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>60</step>
                        <maximum>3600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="force_zidoo_player" type="boolean" label="Force Zidoo external player" help="Enable to use the Zidoo player for all video playback.">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <!-- END OF ZIDOO MOD SETTINGS -->
            </group>
        </category>
        <!-- Markers -->
        <category id="markers" label="Markers">
            <group id="3" label="">
                <setting id="auto_skip_offset" type="number" label="Auto skip offset" help="Time to wait after the intro/credits have finished before seeking">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>-10</minimum>
                        <step>0.5</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <heading>Auto skip offset</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_intro_button_timeout" type="integer" label="Skip intro button timeout" help="Time in seconds until skip intro button disappears">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>40</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>Skip intro button timeout</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_credits_button_timeout" type="integer" label="Skip credits button timeout" help="Time in seconds until skip credits button disappears">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>40</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>Skip credits button timeout</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_intro_button_show_early_threshold2" type="integer" label="Show 'Skip Intro' early threshold (s)" help="How early to show the skip intro button before the intro starts">
                    <level>0</level>
                    <default>120</default>
                    <constraints>
                        <minimum>10</minimum>
                        <step>10</step>
                        <maximum>1800</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>Show 'Skip Intro' early threshold (s)</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="intro_marker_max_offset" type="integer" label="Intro marker max offset" help="Maximum offset for an Intro marker to be valid (in seconds)">
                    <level>0</level>
                    <default>1400</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>10</step>
                        <maximum>3600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>Show 'Skip Intro' early threshold (s)</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_marker_timer_cancel" type="boolean" label="Cancel skip marker on input" help="Cancel skip-marker timer countdown on any input.">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="skip_marker_timer_immediate" type="boolean" label="Immediately skip marker on select" help="Immediately skip marker on select, don't show info.">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <!-- UI -->
        <category id="user_interface" label="User Interface">
            <group id="4" label="">
                <setting id="fast_back" type="boolean" label="Fast back/home navigation">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="postplay_always" type="boolean" label="Always show post-play screen">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dynamic_backgrounds" type="boolean" label="Enable dynamic backgrounds">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dbg_crossfade" type="boolean" label="Enable dynamic background crossfade">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                  </dependencies>
                </setting>
                <setting id="background_colour" type="string" label="Background colour" help="A static fallback color for when dynamic backgrounds are turned off.">
                  <level>0</level>
                  <default>-</default>
                  <control type="colorbutton" />
                  <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">false</dependency>
                  </dependencies>
                </setting>
                <setting id="background_art_blur_amount2" type="integer" label="Background art blur amount">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>256</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="background_art_opacity_amount2" type="integer" label="Background art opacity amount">
                    <level>0</level>
                    <default>20</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="use_bg_fallback" type="boolean" label="Use background fallback">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="continue_use_thumb" type="boolean" label="'Continue Watching' use poster" help="Use poster instead of thumbnail for items in 'Continue Watching'">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="episode_no_spoiler_blur" type="integer" label="Episode 'no-spoiler' blur">
                    <level>0</level>
                    <default>16</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>256</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="playlist_visit_media" type="boolean" label="Go to video on playlist select">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="postplay_timeout" type="integer" label="Post-play screen timeout" help="Time in seconds until the post-play screen automatically plays the next video">
                    <level>0</level>
                    <default>16</default>
                    <constraints>
                        <minimum>2</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="postplay_cancel" type="boolean" label="Cancel post-play on any input">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="screensaver" label="Screensaver">
            <group id="5" label="">
                <setting id="screensaver_quiz" type="boolean" label="Enable trivia quiz screensaver">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="system" label="System">
            <group id="6" label="">
                <setting id="cache_templates" type="boolean" label="Cache templates" help="Cache templates to decrease load times">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="always_compile_templates" type="boolean" label="Always compile templates" help="Always recompile templates on addon start">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="verify_mapped_files" type="boolean" label="Verify mapped files" help="Verify that mapped files are available on disk">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ignore_docker_v4" type="boolean" label="Ignore Docker IPv4 bug" help="Work-around for PMS running in docker where the internal IP is used instead of the mapped one">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="max_shutdown_wait" type="number" label="Maximum shutdown wait" help="How long to wait on Kodi exit to make sure all threads have gracefully quit.">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>360</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="honor_plextv_dnsrebind" type="boolean" label="Honor DNS Rebind settings" help="Connect locally, even if a server doesn't provide a local URL.">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="honor_plextv_pam" type="boolean" label="Honor Pre-Auth settings" help="Attempt to connect to a resource even if it doesn't appear available.">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="use_cert_bundle" type="string" label="Certificate Bundle to use" help="Change this if you're having issues connecting to your server securely.">
                    <level>0</level>
                    <default>acme</default>
                    <constraints>
                        <options>
                            <option label="System">system</option>
                            <option label="ACME">acme</option>
                            <option label="Custom">custom</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="list" format="string"/>
                </setting>
                <setting id="requests_timeout_connect" type="number" label="Connect timeout" help="How long to wait for a connection to be established.">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="requests_timeout_read" type="number" label="Read timeout" help="How long to wait for data to be received.">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="plextv_timeout_connect" type="number" label="Plex.tv Connect timeout" help="How long to wait for a connection to Plex.tv to be established.">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="plextv_timeout_read" type="number" label="Plex.tv Read timeout" help="How long to wait for data to be received from Plex.tv.">
                    <level>0</level>
                    <default>2</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="conn_check_timeout" type="number" label="Connection check timeout" help="How long to wait when checking for connection availability.">
                    <level>0</level>
                    <default>2.5</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>20</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="local_reach_timeout" type="number" label="Local reachability timeout" help="How long to wait for a local server to respond.">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="max_retries1" type="number" label="Maximum connection retries" help="Maximum amount of times to retry connecting to a resource.">
                    <level>0</level>
                    <default>3</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>20</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="tickrate" type="number" label="Tick-rate" help="Core addon clock tick-rate.">
                    <level>0</level>
                    <default>1.0</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="worker_count" type="number" label="Worker-count" help="How many concurrent downloads to allow at once.">
                    <level>0</level>
                    <default>3</default>
                    <constraints>
                        <minimum>2</minimum>
                        <step>1</step>
                        <maximum>32</maximum>_
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="requests_cache_expiry" type="number" label="Requests cache expiry (hours)">
                    <level>0</level>
                    <default>168</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>8760</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>